body.ng-scope {
    margin: 0;
        font-family: sans-serif;
}
header {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    font-family: monospace;
    background-color: black;
    color: white;
    font-weight: bold;
}
ul {
    padding-left: 12px !important;
    list-style: none;
    display: grid;
    padding: 0;
}
nav ul li a {
    text-decoration: none;
    color: #1996CA;
    font-weight: bold;
    padding: 5px 0px 6px 1px;
}
nav {
    width: 132px;
    float: left;
    padding-right: 15px;
        height: 1000px;
    background-color: #EEEEEE;
}
.main-container.ng-scope {
    overflow: auto;
    border-left: 2px solid black;
    padding-left: 15px;
        height: 1000px;

}
li {
    margin-bottom: 7px;
    padding: 5px;
    border: 1px solid;
    border-radius: 2px;
}
table, th, td { 
    border: 1px solid #AAA;
    border-collapse: collapse;
    padding: 5px;
 }
th {
    cursor: pointer ;
    height: 30px;
}
table{
      width: 80%;
  text-align: center;
  margin: auto;
}
th:nth-child(1),th:nth-child(5) {  
  width: 15%;
}
tr:nth-child(even) {
    background-color: #eee;
}
tr:nth-child(odd) {
   background-color:#fff;
}
th  {
    background-color: black;
    color: white;
}
header{
    background-color: black;
  color: white;
  /* height: 63px; */
  padding: 15px;
}
.list_data h1{
    text-align: center;
}
.list_data{
        margin-top: 35px;
      padding-bottom: 50px;
}
.submit input {
    margin-left: 5px;
    width: 70px;
    height: 30px;
    cursor: pointer;
}
.add_data{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 10px 0 29px 0;
    background-color: #EEEEEE;
}
.add-employee {
    margin-top: 40px;
    margin-left: 114px;
}
.add-employee a {
    border: 2px solid;
    text-decoration: blink;
    color: black;
    background-image: url("../images/Add-icon.png");
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: 3px 5px;
    padding: 5px 8px 5px 24px;
}
#tax{
    padding-right: 16px;
}
.field{
    padding: 5px;
}
#undo{
    margin-left: 10%;
    width: 90px;
    margin-top: 10px;
}
footer {
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    padding: 15px;
    bottom: 0;
}
button {
    background: #06a3e4;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: white;
    width: 65px;
    border-radius: 3px;
    outline: none;
}
.action {
    margin-top: 12px;
}
.action button {
    margin-right: 10px;
}

.row {
    padding: 40px;
}

.form_div {
    display: inline-block;
    font-size: 12px;
}

.form_div1 {
    font-size: 12px;
}

.form_div select {
    background-color: white;
    height: 30px;
}

.form_div select.date, .form_div select.activity {
    width: 173px;
}

.form_div select.project {
    width: 372px;
}

.form_div select.hour {
    width: 86px;
}

.form_div select.minute {
    width: 86px;
}

.status_history {
    border: 1px solid #DDDDDD;
    padding: 3%;
    background-color: #F3F3F3;
    font-size: 12px;
    z-index: -1;
}

.history_description {
    font-weight: bold;
    overflow: auto;
    width: 60%;
    float: left;
    padding-left: 48px;
}

.history_date {
    border-right: 1px solid #DDDDDD;
    height: 50px;
    width: 20%;
    float: left;
}

.history_third_div {
    border-left: 1px solid #DDDDDD;
    height: 50px;
overflow: auto;
    padding-left: 35px;
}

.daily_status {
    border: 1px solid #DDDDDD;
    padding: 1%;
    background-color: #F3F3F3;
}

.history {
    font-size: 14px;
    font-weight: bold;
}

.heading {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.hour, .minute {
    display: inline;
}

.submit {
    position: absolute;
    left: 50%;
}

.main {
    position: absolute;
    padding-top: 20%;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
textarea {
    height: 120px !important;
    width: 92.5% !important;
        outline: none;
}
.form_div1.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}
/*.submit input {
    outline: none;
    cursor: pointer;
    margin-left: 5px;
    background: #06a3e4;
    color: white;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 3px;
    font-size: 14px;
}
*/
div#trainingDetails-wrap {
    margin-top: 50px !important;
    width: 85%;
    /* margin-left: 15px; */
    margin: auto;
    padding: 20px;
    background: #F3F3F3;
    border: 1px solid;
}
div#trainingDetails-wrap div {
    padding: 10px;
}
div#trainingDetails-wrap label {
    padding-right: 20px;
}
select{
    outline: none;
}
input{
    outline: none;
}