<div id="trainingDetails-wrap">
<form ng-submit="addItem(training)" name="statusForm" novalidate>
	<div>
		<label>Topic</label>
		<input type="text" name="" value="" placeholder="" ng-model="training.topic">
	</div>
	<div>
		<label>Start Time</label>
		<select ng-model="training.startTime" class="minute form-control" name="multiple="" nute in minutes" ng-options="startTime.title for startTime in time_list" required>
		</select>

	</div>
	<div class="field_div">
		<label>End Time</label>
		<select ng-model="training.endTime" class="minute form-control" name="multiple="" nute in minutes" ng-options="endTime.title for endTime in time_list" required></select>
	</div>
	<div>
		<label>Venue</label>
		<select ng-model="training.venue" class="minute form-control" name="multiple="" nute in minutes" ng-options="venue as venue.title for venue in venue " required></select>
	</div>
	<div>
		<label>Available Seats</label>
		<input type="text" name="" value="" placeholder="" ng-model="training.seats">
	</div>
	<div>
		<label>Medium</label>
		<select ng-model="training.medium" class="minute form-control" name="multiple="" nute in minutes" ng-options="medium as medium.title for medium in medium " required></select>
	</div>
	<div>
		<label>Description</label>
		<textarea rows="5" cols="60" ng-model="training.description"
			name="description" class="form-control"required>
		</textarea>
	</div>
	<div>
		<label>Send Invitation(s) to</label>
		<textarea rows="5" cols="60" ng-model="training.invitation"
			name="description" class="form-control">
		</textarea>
	</div>
	<div>
		<label>Training Documents</label>
		<input type="text" name="" value="" placeholder="" ng-model="training.documents">
	</div>
	<div class="submit">
		<input type="submit" value="Save" class="btn btn-primary"
		ng-disabled="statusForm.$invalid">
	</div>
	</form>
</div>
