<div id="trainingDetails-wrap">

	<div><label>Topic</label><input type="text" name="" value="" placeholder=""></div>
	<div><label>Date</label><input type="text" name="" value="" placeholder=""></div>
	<div class="field_div">
	<label>Start Time</label>
		<select>
			<option value="08:30 AM">08:30 AM</option>
			<option value="09:00 AM">09:00 AM</option>
			<option value="09:30 AM">09:30 AM</option>
			<option value="10:00 AM">10:00 AM</option>
			<option value="10:30 AM">10:30 AM</option>
			<option value="11:00 AM">11:00 AM</option>
			<option value="11:30 AM">11:30 AM</option>
			<option value="12:00 PM">12:00 PM</option>
			<option value="12:30 PM">12:30 PM</option>
			<option value="01:00 PM">01:00 PM</option>
			<option value="01:30 PM">01:30 PM</option>
			<option value="02:00 PM">02:00 PM</option>
			<option value="02:30 PM">02:30 PM</option>
			<option value="03:00 PM">03:00 PM</option>
			<option value="03:30 PM">03:30 PM</option>
			<option value="04:00 PM">04:00 PM</option>
			<option value="04:30 PM">04:30 PM</option>
			<option value="05:00 PM">05:00 PM</option>
			<option value="05:30 PM">05:30 PM</option>
			<option value="06:00 PM">06:00 PM</option>
			<option value="06:30 PM">06:30 PM</option>
		</select> 
	</div>
	<div class="field_div">
		<label>End Time</label>
		<select id="id_endTimeField" name="endTimeField">
			<option value="08:30 AM">08:30 AM</option>
			<option value="09:00 AM">09:00 AM</option>
			<option value="09:30 AM" selected="selected">09:30 AM</option>
			<option value="10:00 AM">10:00 AM</option>
			<option value="10:30 AM">10:30 AM</option>
			<option value="11:00 AM">11:00 AM</option>
			<option value="11:30 AM">11:30 AM</option>
			<option value="12:00 PM">12:00 PM</option>
			<option value="12:30 PM">12:30 PM</option>
			<option value="01:00 PM">01:00 PM</option>
			<option value="01:30 PM">01:30 PM</option>
			<option value="02:00 PM">02:00 PM</option>
			<option value="02:30 PM">02:30 PM</option>
			<option value="03:00 PM">03:00 PM</option>
			<option value="03:30 PM">03:30 PM</option>
			<option value="04:00 PM">04:00 PM</option>
			<option value="04:30 PM">04:30 PM</option>
			<option value="05:00 PM">05:00 PM</option>
			<option value="05:30 PM">05:30 PM</option>
			<option value="06:00 PM">06:00 PM</option>
			<option value="06:30 PM">06:30 PM</option>
		</select> 
	</div>
	<div><label>Venue</label><input type="text" name="" value="" placeholder=""></div>
	<div><label>Available Seats</label><input type="text" name="" value="" placeholder=""></div>
	<div><label>Medium</label><input type="text" name="" value="" placeholder=""></div>
	<div><label>Description</label><textarea name=""></textarea></div>
	<div><label>Send Invitation(s) to</label><textarea name=""></textarea></div>
	<div><label>Training Documents</label><input type="text" name="" value="" placeholder=""></div>
</div>