<section >
	<h2> Employee Details</h2>
	{{message}}
    <div class="add-employee">
        <a  ui-sref=".list" ng-click="showList()">Add</a>
    </div>
	<div class="list_data">
        <table>
            <tr>
                <th ng-click="type = 'include'; reverse = !reverse">Status</th>
                <th ng-click="type = 'state'; reverse = !reverse">Name</th>
                <th ng-click="type = 'price'; reverse = !reverse">Salary</th>
                <th ng-click="type = 'tax'; reverse = !reverse">Tax</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="record in $root.records | orderBy:type:reverse">
                <td><input type="checkbox" ng-model="record.include"></td>
                <td>{{record.name | uppercase}}</td>
                <td>{{record.salary | currency}}</td>
                <td>{{record.tax | currency}}</td>
                <td><button ng-click="Delete($index)">Delete</button></td>
            </tr>
            <tr>
                <td colspan="2">Total</td>
                <td>{{Totals().salary | currency}}</td>
                <td>{{Totals().tax | currency}}</td>
                <td>&nbsp;</td>
            </tr>
        </table>
        <button id="undo" ng-show="history.length > 0" ng-click="Undo()">Undo Delete</button>
    </div>


     <div ui-view></div>
  
<!--     <div class="add_data">
        <h1>Add Data</h1>
        <form ng-submit="Add()">
            <div class="field">
                <label for="state">Name: </label>
                <input id="state" type="text" placeholder="Enter Name" maxlength="" ng-model="newState" required>
            </div>
            <div class="field">
                <label id="price" for="price">Salary: </label>
                <input  type="number" placeholder="Price" ng-model="newPrice">
            </div>
            <div class="field">
                <label id="tax" id="tax" for="tax">Tax: </label>
                <input  type="number" placeholder="Tax" ng-model="newTax">
            </div>
            <div class="action">
                <button type="submit">Add</button>
                <button ng-click="Reset()">Reset</button>
            </div>
        </form>
    </div>	 -->
</section>