  
    <div ng-hide="tab" class="add_data">
        <h1>Add Data</h1>
        <form ng-submit="Add()">
            <div class="field">
                <label for="state">Name: </label>
                <input id="state" type="text" placeholder="Enter Name" maxlength="" ng-model="newState" required>
            </div>
            <div class="field">
                <label id="price" for="price">Salary: </label>
                <input  type="number" placeholder="Price" ng-model="newPrice">
            </div>
            <div class="field">
                <label id="tax" id="tax" for="tax">Tax: </label>
                <input  type="number" placeholder="Tax" ng-model="newTax">
            </div>
            <div class="action">
                <button type="submit">Add</button>
                <button ng-click="Reset()">Reset</button>
                <button ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>	
    