<div ng-controller="createTrainingController">
	<h2>Trainings List</h2>
<div ng-repeat="training in training_list">
<div class="training_list">
<div class="training_topic"><a ui-sref = "trainingDetails({ index: training.id})">{{training.topic}}</a></div>

<div class="training_who">Who: {{training.who}}</div>
<div class="training_date">When: {{training.date}} {{training.startTime}} - {{training.endTime}}</div>
<div class="training_where">Where: {{training.where}}</div>
<div class="training_seats">Seats remaining: {{training.seats}}</div>
<div class="training_status">Training status: {{training.trainingStatus}}</div>

</div>
</div>
</div>
